@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html,
  :root,
  body{
    height: 100%;
    background-color: rgb(18, 13, 39);
  }
  button{
    max-width: 280px;
    background-color: rgba(0,0,0,.2);
    font-size: 16px;
    padding: 30px 12px;
    border-radius: 14px;
    border: 1px solid rgba(0,0,0,.1);
    color:white;
    backdrop-filter: blur(20px);
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition:1s;

    }

  button:hover{
      border: 1px solid rgba(255,255,255, .8);
      transform: translateY(-4px); 
    }
  
}

@layer utilities{
  .decoration-none{
    text-decoration: none;
  }
}

.spline{
  @apply absolute m-0 top-0 right-0 desktop:translate-x-[200px] desktop:scale-[0.8];
}