
@layer base{
  html,
  :root,
  body{
    margin:0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(18, 13, 39);
  }

  button{
    display: flex;
    flex: row;
    gap: 10px;
    font-family: inherit;
    max-width: 280px;
    background-color: rgba(0,0,0,.2);
    font-size: 16px;
    padding: 10px 3px;
    border-radius: 14px;
    border: 1px solid rgba(0,0,0,.1);
    color:white;
    backdrop-filter: blur(20px);
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition:1s;

    pointer-events: auto;
    cursor: pointer;


    }

  button:hover{
      border: 1px solid rgba(255,255,255, .8);
      transform: translateY(-4px); 
    }
  
}

