.spline 
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    canvas{
        pointer-events: auto;
        position:absolute;
        margin:0;
        top:0;
        right:0;
        width: 100vw;
        height: 100vh; 
        @include mQ(variables.$mobile){
            transform: translateX(500px);
            scale: (0.5);
            
        }
    }
}